.Cart-cont{
    background: rgba(255, 153, 0, 0.3);
    padding: 23px;
    text-align: center;
    position: sticky;
    top: 0;
}
.btn-clear{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto;
    background: red;
    color: aliceblue;
    height: 56px;
    font-size: 18px;
}