.product{
    top: 0;
    width: 300px;
    height: 500px;
    border: 1px solid grey;
    border-radius: 8px;
    position: relative;
   
}
.product img{
    padding: 0;
    margin: 7px;
    height: 286px;
    width: 286px;
}
.product-name{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    
}

.product-info{
    margin-left: 10px;
}
.product-info p{
    margin-top: 4px;
    margin-bottom: 4px;
}
.btn-add{
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: burlywood;
    border: 1px solid grey;
    border-radius: 0 0 7px 7px;
}
.btn-add:hover{
    background-color: aquamarine;
}