.shping-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* margin: 25px; */
}
.product-countainer{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.the-checkout-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto;
    background: orange;
    color: aliceblue;
    height: 56px;
    font-size: 18px;
}